*,
*::before,
*::after {
  box-sizing: border-box;
}

/* General Styles */
:root {
  --ff-primary: "Source Sans Pro";
  --ff-secondary: "Source Code Pro";

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #c5c6c7;
  --clr-dark: #1f2833;
  --clr-black: #0b0c10;
  --clr-accent: #66fcf1;
  --clr-accent-dark: #7df2ea;

  --fs-h1: 4.5rem;
  --fs-h2: 3.75rem;
  --fs-h3: 1.5rem;
  --fs-body: 1.125rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (max-width: 800px) {
  :root {
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(177, 177, 177);
  background: linear-gradient(90deg, #b1b1b1 0%, #c5c6c7 100%);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section,
main {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* Buttons */
.btn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  padding: 0.7rem;
  margin: 0.5rem 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: 0.3s;
  width: 12rem;
  position: relative;
  border: 1px;
  border-style: solid;
}

.btnPrimary {
  background: var(--clr-accent);
  color: var(--clr-dark);
  border-color: var(--clr-accent);
}

.btnPrimary:hover {
  transform: scale(1.2);
}

.btnSecondary {
  background: transparent;
  color: var(--clr-accent);
}

.btnSecondary:before {
  content: "";
  position: absolute;
  background-color: var(--clr-dark);
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  z-index: -1;
  transition: 0.5s;
}

.btnSecondary:hover:before {
  width: 100%;
}

/* Typography */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.title {
  margin-bottom: 0.25em;
}

.introTitle {
  font-weight: var(--fw-reg);
}

.introTitle strong {
  display: block;
}

.heading {
  margin: 0;
  font-size: var(--fs-h3);
}

.contactHeading,
.introHeading,
.aboutHeading {
  background: rgb(88, 214, 205);
  background: linear-gradient(90deg, #58d6cd 0%, #66fcf1 100%);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

.workHeading {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

.typewriter {
  border-right: 0.1em solid transparent; /* The typwriter cursor */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(40, end), blink-caret 1s step-end infinite;
  animation-delay: 0.2s;
}

/* The Typewriter Cursor Effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--clr-accent);
  }
}

/* Header & Navbar */
header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  width: 100%;
}

.logo {
  max-width: 100px;
}

.logoImg:hover {
  filter: saturate(125%);
}

.nav {
  position: fixed;
  background: rgb(28, 32, 37);
  background: linear-gradient(
    90deg,
    rgba(28, 32, 37, 1) 0%,
    rgba(31, 40, 51, 1) 100%
  );
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.navList {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navLink {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}

.navLink:hover {
  color: var(--clr-accent);
}

.navToggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .navToggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-accent-dark);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

.hamburger:hover::before,
.hamburger:hover::after,
.hamburger:hover {
  background: var(--clr-accent);
}

/* Intro */
.intro {
  position: relative;
}

.introShadow {
  box-shadow: var(--bs);
}

.introHeading {
  display: inline-block;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img heading";
    grid-template-columns: min-content max-content;
  }

  .introImg {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .introHeading {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

/* My Services */

.servicesParallax {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
  background-image: url(../img/services-bg.jpg);

  height: auto;

  /* Parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.servicesTitle {
  color: var(--clr-accent);
  position: relative;
}

.servicesTitle::after {
  content: "";
  display: block;
  width: 3em;
  height: 2px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
}

.services {
  margin-bottom: 4em;
  color: whitesmoke;
}

.service {
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .service + .service {
    margin-left: 2em;
  }
}

/* About Me */
.about {
  max-width: 1000px;
  margin: 0 auto;
}

.aboutImg {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .about {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "heading img"
      "text img";
    grid-column-gap: 2em;
  }

  .aboutTitle {
    grid-area: title;
  }

  .aboutHeading {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .aboutImg {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

/* Portfolio */
.work {
  padding-top: 2rem;
  background: rgb(28, 32, 37);
  background: linear-gradient(90deg, #1c2025 0%, #1f2833 100%);
  color: var(--clr-light);
  text-align: center;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolioItem {
  background: var(--clr-accent);
  overflow: hidden;
}

.portfolioImg {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolioItem:focus {
  position: relative;
  z-index: 2;
}

.portfolioImg:hover,
.portfolioItem:focus .portfolioImg {
  transform: scale(1.2);
  opacity: 0.5;
}

/* Individual portfolio item styles */
.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* Contact Me */
.contact {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  text-align: right;
}

@media (min-width: 600px) {
  .contact {
    display: grid;
    width: max-content;
    margin: 0 auto;
    grid-column-gap: 4em;
    grid-template-areas:
      "img nothing title"
      "img nothing contactText"
      "img nothing heading";
    grid-template-columns: min-content max-content;
  }

  .contactText {
    grid-area: contactText;
    text-align: left;
  }

  .contactTitle {
    grid-area: title;
    text-align: left;
  }

  .contactHeading {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 3;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 3em);
  }

  .contactImg {
    grid-area: img;
    min-width: 300px;
    max-width: 20%;
    position: relative;
    z-index: 2;
  }
}

.contact a {
  text-decoration: none;
  color: var(--clr-dark);
}

.contact a:hover {
  text-decoration: underline;
}

.contactHeading {
  display: inline-block;
  text-decoration: none;
}

.contactSocialList {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.contactSocialListLink {
  color: var(--clr-dark);
}

.contactSocialListLink:hover {
  opacity: 0.7;
}

.contactSocialListItem {
  margin: 0 0.5em;
}

@media (max-width: 600px) {
  .contact {
    text-align: left;
  }

  .contactHeading {
    margin-bottom: 2rem;
    width: 100%;
    left: 0em;
  }

  .contactSocialList {
    justify-content: space-evenly;
    padding-left: 0;
    margin-left: 0;
  }

  .contactSocialListLink {
    padding-left: 0;
  }

  .contactSocialListItem {
    margin: 0 0.2em;
  }
}

/* Footer */

.footer {
  background: #0b0c10;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footerLink {
  font-weight: var(--fw-bold);
}

.footerLink:hover,
.socialListLink:hover {
  opacity: 0.7;
}

.footerLink:hover {
  text-decoration: underline;
}

.socialList {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.socialListItem {
  margin: 0 0.5em;
}

.socialListLink {
  padding: 0.5em;
}
